@font-face {
  font-family: 'FontAwesome';
  src: url('./assets/fonts/fontawesome-webfont.woff'),
    url('./assets/fonts/fa-brands-400.woff2'),
    url('./assets/fonts/fa-brands-400.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.portfolio-item-list {
  display: flex;
  width: 100%;
  gap: 20px;
}

.img-profile {
  width: 250px;
  border-radius: 50%;
}

.img-portfolio {
  background-color: white;
  // border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nowrap {
  white-space: nowrap;
}

.skills a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 600px) {
  #portfolio
    .portfolio-item-list
    .portfolio-link
    .caption
    .caption-content
    .fa-search-plus {
    margin-top: -15px;
    font-size: 50px;
  }
}
